<div class="dropdown_and_search">
  <div class="col-lg-1">
    <div class="btn-group" id="reporter_dropdown">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Reporters <span class="caret"></span></button>
      <ul class="dropdown-menu scrollable-menu" role="menu">
        <%@reporters.each do |reporter|%>
          <li>
            <a href=<%=reporter_search_path(reporter.id)%>>
              <%=reporter.name%>
            </a>
          </li>
        <%end%>
      </ul>
    </div>
  </div>
  <%= render partial: "./articles/article_search"%>
</div>
<br><br><br>

Select An Article

<%@articles.each do |article|%>
  <div class="col-sm-4">
    <%= render partial: "./articles/article_display", locals: { article: article } %>
  </div>
<%end%>
