<h6 id="selected_impact_type"><%=ImpactType.find(params[:id]).name%></h6>
<div id="selector_elements">
  <div class="col-sm-6">
    <div class="jumbotron vertical-center">
    <div id="selector_text">
    <h3>Search Existing Articles</h3>
  <%= form_tag "/impact_add_search", :method => 'get', remote: true, class: "navbar-form navbar-left" do %>
    <div class="form-group">
      <input id="selector_value" type="text" name="search" class="form-control">
      <input style="display:none" type="text" name="impact_id" value=<%=params[:id]%>>
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
    <%end%>
      </div>
    </div>
</div>

  <a href="<%=new_article_path%>">
    <div class="col-sm-6">
      <div class="jumbotron vertical-center">
        <h3 id="selector_text"><br>Or Add A New Article<br><br></h3>
      </div>
    </div>
  </a>
</div>

<div id="article_choices"></div>
