<!-- <div class="panel-body">
	<div class="media">
  		<a class="media-left" href="#"></a>
		<div class="media-body">
			<dl class="dl-horizontal"> -->
				<h2>Welcome, <%=@user.name%></h2>
				<%if current_user.title == "Article"%>
				  <h4>Your Articles: </h4>
					<%= render partial: "./articles/articles_display", locals: { articles: @user.articles.uniq} %>
				<%end%>
			<!-- </dl>
		</div>
	</div>
</div> -->
