<!-- <div class="panel-body">
	<div class="media">
  		<a class="media-left" href="#"></a>
		<div class="media-body">
			<dl class="dl-horizontal"> -->
				<h1>Welcome, <%=@user.name%></h1>
        <h4>Your Articles: </h4>
				<%= render partial: "./articles/articles_display", locals: { articles: @user.articles.uniq} %>
			<!-- </dl>
		</div>
	</div>
</div> -->
