<h1 class="headline">Add an Impact If this works all is well. </h1>


<div class="impact_bubbles small">

    <%@impact_types.reverse.each do |impact_type|%>

<a href=<%=impact_selector_id_path(impact_type.id)%>>
        <div class="impact_package">

            <div class="impact_bubble small">
              <img class="icon" src=<%=impact_type.image%>></img>

              <div class="impact_bubble_text">
                <h4><%=impact_type.name%></h4>
              </div>

            </div>
        </div>

</a>
    <%end%>
</div>
