
@import "bootstrap-sprockets";
@import "bootstrap";
#sub_head {
  display: block;
  margin-bottom: 3%;
}

.search_header{
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#selector_text{
   margin-right: auto;
   margin-left: auto;
}

#article_display_container{
  height: 30%;
}

#article_headline{
  font-size: 50px;
}

// body{
//   font-family: sans-serif;
// }

.headline{
  font-size: 50px;
  text-align: center;
  margin-bottom: 3%;
}

#impact_bubble_date{
  float: right;
  margin-top: -.5%;
}

.vertical-center {
  // min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  // min-height: 100vh; /* These two lines are counted as one :-)       */
text-align: center;

  display: flex;
  // align-items: center;
}

#reporter_dropdown{
  margin-left: -15px;
  margin-top: 13%;
}

.impact_list{
  display: none;
}

.icon{
  width: 5%;
  float: left;
  position: relative;
    top: 500%;
    vertical-align: middle;

}

.impact_bubbles{
  margin-left: 10%;
  margin-right: 10%;
}

.impact_bubbles.small{
  margin-left: 5%;
  display: inline-block;
  width: 100%;
}

.impact_bubble.small{
  width: 100%;
}

.impact_bubble.small h4{
  color: black;
}

.impact_bubble.small img{
  // width: 10%;
  width: 50px;
  margin-right: 10%;
  margin-left: 3%;
  padding: 1%;
}

.impact_bubble img {
  width: 50px;
}

#article_header{
  margin-left: 2%;
  text-align: center;
}

.impact_bubble{
  width: 100%; 
  display: inline-block;
  vertical-align: middle;
  padding: 1.5%;
  box-sizing: border-box;
 -webkit-border-radius: 20px;
 -moz-border-radius: 20px;
 border-radius: 20px;
 background: -webkit-linear-gradient(#bddfeb,#d6ebf2, #bddfeb);

  // background: -webkit-linear-gradient(#ff7f7f,#ff9999, #ff7f7f);
  // width: 80%;

}

.impact_bubble_text{
  padding-left: 10%;
  padding-right: 10%;
}


.impact_package{
  vertical-align: middle;
  display: inline-block;
  position: relative;
  margin-bottom: 1%;
  width: 40%;
  margin-left:3%;
}

.impact_package.large{
  width: 100%;
}

#article_choices{
  float: left;
}
