@import "bootstrap-sprockets";
@import "bootstrap";
@import "stats.scss";
@import "impacts.scss";
@import "impact_types.scss";
@import "headers.scss";
@import "selector.scss";
@import "articles.scss";
@import "intro.scss";
@import "bubble.scss";
@import "mobile.scss";
@import "jquery-ui/datepicker";

body {
  background-color: #f7f7f7;
  // padding: 1%;
  font-family: Arial;
  -webkit-font-smoothing: antialiased;
}

.form {
  margin-left: 15%;
}

#page_top{
  background-color: #667485;
}

#navbar-desktop{
  background-color: #667485;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

}

#section_toggle{
  margin-top: 2%;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 3%;
}

.nav.navbar-nav #explore a{
  color: #f9ffff;
  text-decoration: none;
}

.list_container{
  width: 100%;
  position: relative;
}

.list_container.absolute{
  position: absolute;
}

.plus_icon{
  background-color: #317bbe;
  color: white;
  width: 1.5em;
  height: 1.5em;
  font-size: 2.5vw;
  text-align: center;
  border-radius: 5px;
  float: right;
}

.plus_icon.small{
  margin-left: 2%;
  // background-color: #8ec0d2;
}

#navbar_search{
  width:460px !important;
}

#impact_count{
  float: right;
font-size: 1.9vh;
color: gray;
}

#pub_logo{
  display: inline-block;
  // width: 2%;
  float: right;
  // opacity: 0.8;
  border-radius: 20%;
  // zoom: 50%;
  // width: 3%;
}

#logo{
  display: inline-block;
  color: gray;
}

.search_header{
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.download_icon{
  margin-right: 2%;
  position: absolute;
}

.alert{
  margin-top: 2%;
}

.edit_button{
  float: right;
  margin-top: 1%;
  margin-right: 1%;
  width: 10%;
  background: white;
  color: black;
  text-align: center;
  border-radius: 5px;
  border-style: solid;
      border-width: 1px;
      border-color: #d3d3d3;
}

.edit_button.small{
  width: 15%;
  font-size: 2.0vh;
  margin-right: -10%;
}

.edit_button:hover {
  background: #d3d3d3;
  color: white;
}

.headline_view{
  font-size: 50px;
  text-align: center;
  margin-bottom: 3%;
  color: #130f30;
}

.subhead{
  font-size: 4.0vh;
  text-align: center;
}

#impact_bubble_date{
  float: right;
  margin-top: -.5%;
}

.vertical-center {
  // min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  // min-height: 100vh; /* These two lines are counted as one :-)       */
text-align: center;

  display: flex;
  // align-items: center;
}

.impact_list{
  display: none;
}

.icon{
  width: 5%;
  float: left;
  position: relative;
    top: 500%;
    vertical-align: middle;

}

.icon.small{
  width: 4%;
  float: right;
}

#article_header{
  margin-left: 2%;
  text-align: center;
}

.impact_package{
  vertical-align: middle;
  display: inline-block;
  position: relative;
  margin-bottom: 1%;
  width: 40%;
  margin-left:3%;
}

.impact_package.large{
  width: 100%;
}

.impact_package.large.fill{
  margin-left: 0%;
}

#article_choices{
  float: left;
}

#navbar_mobile{
  display: none;
}

.panel-body.project{
  background: #297ab7;
  color: white;
}

#toggle_impact, #toggle_article{
  width: 50%;
}
