#article_search_article{
  background: #fff;

}

#article_search_article:hover{
  background: #d6ebf2;
  // color: white;
}

#article_display_container{
  height: 30%;
}

#article_headline_view{
  font-size: 50px;
}

#article_search_results{
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 2%;
}



#reporter_dropdown{
  margin-top: 13%;
}

.dropdown_and_search{
  margin-left: 3.5%;
  margin-right: 5%;
}
