#selector_addition_box{
  // padding-bottom: 133px;
}

#selector_text{
   margin-right: auto;
   margin-left: auto;
}

#selector_containers{
  margin-left: 5%;
}

.selector_container{
  width: 40%;
  margin-left: 5%;
  // position: relative;
  display: inline-block;
  background-color: #cfe8f0;
  // height: 40vh;
  margin-top: 2%;
  border-radius: 25px;
  padding: 2%;
  padding-left: 5%;
  padding-right: 5%;
}

#article_choices{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
}
