

#recent_impact_types{
  width: 30%;
  display: inline-block;
}

#impact_stats_space{
  width:65%;
  display: inline-block;
  position: absolute;
      margin-top: 1%;
}

#impact_stats_space .impact_bubbles{
    margin-left: 2%;
}

.page_container{
  padding-right: 2%;
  padding-left: 2%;
}
